In [1]:
import pandas as pd 
import numpy as np
import os
import re

In [2]:
reports = [report for report 
           in os.listdir('../COVID-19/csse_covid_19_data/csse_covid_19_daily_reports') 
           if re.search(r"\.csv$", report)
          ]

### You should have the https://github.com/CSSEGISandData/COVID-19.git project in the same folder as this project

reports.sort()

raw_dataframe = pd.DataFrame()

#Accumulate data
for report_name in reports[1:]:
    with open('../COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/' + report_name) as csv:
        daily_report = pd.read_csv(csv)
        raw_dataframe = raw_dataframe.append(daily_report, ignore_index=True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [5]:
def blend_columns(row, column_name1, column_name2):
    return (pd.isna(row[column_name1]) and row[column_name2]) or row[column_name1]

def to_int(value):
    if np.isnan(value):
        return 0
    else:
        return int(value)
    
def observation_date(datestr_in):
    date_str = re.split(r'[T,\s]\s*', datestr_in)[0] # Format is 1/23/20 17:00 or 2020-03-01T23:33:03
    
    date_l = date_str.split('/') # Format is 1/23/20
    if len(date_l) == 3:
        date_l[2] = '2020'
        return '/'.join(date_l)
    
    date_l = date_str.split('-') #Format is 2020-04-09
    if len(date_l) == 3:
        date_l.pop(0)
        date_l.append('2020')
        return '/'.join(date_l)
    
    print('ERROR, the format is not known', datestr, datestr_in)
    return

In [6]:
#Clean data
raw_dataframe['Country_Region'] = raw_dataframe.apply(
    lambda row: blend_columns(row, 'Country_Region', 'Country/Region')
    , axis=1)
raw_dataframe['Last_Update'] = raw_dataframe.apply(
    lambda row: blend_columns(row, 'Last_Update', 'Last Update')
    , axis=1)
raw_dataframe['Province_State'] = raw_dataframe.apply(
    lambda row: blend_columns(row, 'Province_State', 'Province/State')
    , axis=1)
raw_dataframe['Lat'] = raw_dataframe.apply(
    lambda row: blend_columns(row, 'Lat', 'Latitude')
    , axis=1)
raw_dataframe['Long_'] = raw_dataframe.apply(
    lambda row: blend_columns(row, 'Long_', 'Longitude')
    , axis=1)
raw_dataframe['Confirmed'] = raw_dataframe.apply(
    lambda row: to_int(row['Confirmed'])
    , axis=1)
raw_dataframe['Deaths'] = raw_dataframe.apply(
    lambda row: to_int(row['Deaths'])
    , axis=1)
raw_dataframe['Recovered'] = raw_dataframe.apply(
    lambda row: to_int(row['Recovered'])
    , axis=1)
raw_dataframe['Active'] = raw_dataframe.apply(
    lambda row: to_int(row['Active'])
    , axis=1)

raw_dataframe['ObservationDate'] = raw_dataframe.apply(lambda row: observation_date(row['Last_Update']), axis=1)

raw_dataframe = raw_dataframe.drop(columns=[
    'Province/State', 'Last Update', 'Last_Update', 'Country/Region', 'Latitude', 'Longitude', 'FIPS', 'Admin2'
])

column_names = [
    'Province_State','Country_Region','ObservationDate',
    'Lat','Long_','Confirmed','Deaths',
    'Recovered','Active','Combined_Key'
]
raw_dataframe = raw_dataframe.reindex(columns=column_names)

In [7]:
raw_dataframe['Deaths'] = raw_dataframe.apply(
    lambda row: to_int(row['Deaths'])
    , axis=1)

In [8]:
raw_dataframe

,Province_State,Country_Region,ObservationDate,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,Anhui,Mainland China,1/23/2020,NaN,NaN,9,0,0,0,NaN
1,Beijing,Mainland China,1/23/2020,NaN,NaN,22,0,0,0,NaN
2,Chongqing,Mainland China,1/23/2020,NaN,NaN,9,0,0,0,NaN
3,Fujian,Mainland China,1/23/2020,NaN,NaN,5,0,0,0,NaN
4,Gansu,Mainland China,1/23/2020,NaN,NaN,2,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...
71320,NaN,Western Sahara,04/11/2020,24.215500,-12.885800,4,0,0,4,",,Western Sahara"
71321,NaN,Yemen,04/11/2020,15.552727,48.516388,1,0,0,1,Yemen
71322,NaN,Zambia,04/11/2020,-13.133897,27.849332,40,2,28,10,Zambia
71323,NaN,Zimbabwe,04/11/2020,-19.015438,29.154857,14,3,0,11,Zimbabwe
71324,Utah,US,04/11/2020,NaN,NaN,0,5,0,0,"unassigned, Utah, US"

In [9]:
raw_dataframe.to_csv('covid_19_aggregation.csv')